body{
  background-color:lightgrey;
}

.menu-btn-container{
  display:flex;
  margin:0px auto;
  max-width:930px;
  width:100%;
  justify-content:space-between;
}

.menu-child-btn{
  flex:1;
  text-align:center;
  background-color:#6F4E37;
  padding: 1em 0em;
  margin: 1em;
  line-height:1.5;
  flex-basis:30%;
  transition-property: background-color border-radius;
  transition-duration: 2s;
}

.menu-child-btn a:link, a:hover, a:visited, a:active{
  color:white;
  text-decoration:none;
}

.menu-child-btn:hover{
  background-color: black;
  border-radius:50%;
}

.menu-child-btn a:visited{
  color:white;
}

.column-container{
  background-color:white;
  max-width:800px;
  margin: 1em;
  padding:20px 40px;
  line-height:1.65;
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:" maincolumn column2";
  gap:20px;
}

.column1{
  grid-area:maincolumn
}
.column2{
  grid-area:column2
}

.call-outs-container {
  max-width:800px;
  margin:1em;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 20px;
}

.call-out {
  padding:20px;
  margin-bottom: 20px;
}

.call-out:nth-child(1) {
  background-color:#FFE5B4;
}

.call-out:nth-child(2) {
  background-color:#D2B48C;
}
.call-out a:link, a:visited{
  background-color:#FFF8FA;
  color:black;
  border-style: solid;
  border-width: 3px;
  border-color:white;
  padding:5px 10px;
  text-decoration:none;
  display:inline-block;
  margin-bottom:10px;
}
.call-out a:hover{
  background-color:black;
  color:white;
}
.call-out a:active{
  background-color: black;
}
img{
  width:150px;
  height:auto;
}

.column-layout {
  background-color:white;
  max-width:800px;
  margin:40px auto 0 auto;
  padding:20px 40px;
  line-height:1.65;
  display:grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:"location hours";
  gap:20px;
}

.location{
  grid-area:location;
}

.hours{
  grid-area:hours;
}
ul {
  list-style-type: none; 
}
